<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmaweb Navbar</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="header.component.scss">
</head>
<body>
  
  <header class="header">
    <div class="container">
      <div class="header-main">
        <div class="logo">
          <a href="#">Farmaweb</a>
        </div>
        <div class="open-nav-menu">
          <span></span>
        </div>
        <div class="menu-overlay">
        </div>
        
        <nav class="nav-menu">
          <div class="close-nav-menu">
            <img src="assets/img/x-solid.svg" alt="close">
          </div>
          <ul class="menu">
            <li class="menu-item menu-item-has-children">
              <a href="#" data-toggle="sub-menu">Administración <i class="plus"></i></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Reporte de ventas</a></li>
                <li class="menu-item"><a href="#">Informe de inventarios</a></li>
                <li class="menu-item"><a href="#">Maestro clientes</a></li>
                <li class="menu-item"><a href="#">Control de ofertas</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" data-toggle="sub-menu">Contabilidad <i class="plus"></i></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Facturas de ventas</a></li>
                <li class="menu-item"><a href="#">Informe de impuestos</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" data-toggle="sub-menu">Markteing <i class="plus"></i></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Ingresar productos</a></li>
                <li class="menu-item"><a href="#">Ingresar ofertas</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" data-toggle="sub-menu">Ventas <i class="plus"></i></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Histórico de ventas</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" data-toggle="sub-menu">Inventarios <i class="plus"></i></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Reporte de inventarios</a></li>
                <li class="menu-item"><a href="#">Control de stock</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" data-toggle="sub-menu">Clientes <i class="plus"></i></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Récord de clientes</a></li>
                <li class="menu-item"><a href="#">Administrar perfil</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
